<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<h1>Book Management</h1>
<form>
    <table>
        <tr>
            <td>Name: </td>
            <td><input type="text" id="name" name="name"></td>
        </tr>
        <tr>
            <td>Author: </td>
            <td><input type="text" id="author" name="author"></td>
        </tr>
        <tr>
            <td>Price: </td>
            <td><input type="text" id="price" name="price"></td>
        </tr>
        <tr>
             <td>Category:</td>
             <td>
                  <select id="category">
                      <th:block th:each="c: ${category}">
                          <option th:value="${c.id}" th:text="${c.name}"></option>
                      </th:block>
                  </select>
             </td>
        </tr>
    </table>
    <input type="submit" th:value="Add" onclick="addBook()">
</form>
<h2>List book</h2>
<table id="listBook">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Author</th>
        <th>Price</th>
        <th>Category</th>
        <th>Delete</th>

    </tr>
    <th:block th:each="s : ${books}">
        <tr>
            <td th:text="${s.id}"></td>
            <td th:text="${s.name}"></td>
            <td th:text="${s.author}"></td>
            <td th:text="${s.price}"></td>
            <td th:text="${s.category.name}"></td>
            <td>
                <a th:href="${s.getId()}" class="deleteBook" onclick="deleteBook(this)">Delete</a>
            </td>
        </tr>
    </th:block>
</table>

<footer th:replace="/layout :: footer"></footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    function addBook(){
        let name = $('#name').val();
        let author = $('#author').val();
        let price = $('#price').val();
        let category = $('#category').val();
        let newBook = {
            name: name,
            author: author,
            price: price,
            category: category
        }
        let newBookJson = JSON.stringify(newBook);

        $.ajax({
            headers:{
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            //method
            type:"POST",
            //du lieu gui len
            data: newBookJson,
            //ten API
            url: "/books",

            success: showListBook

        });
        event.preventDefault();
    }
    function showListBook(){
        $.ajax({
            type: "GET",
            url: "/books",

            success: function (books){
                let content = '<tr>\n' +
                    '        <th>#</th>\n' +
                    '        <th>Name</th>\n' +
                    '        <th>Author</th>\n' +
                    '        <th>Price</th>\n' +
                    '        <th>Category</th>\n' +
                    '        <th>Delete</th>\n' +
                    '    </tr>';
                for (let i = 0; i < books.length; i++) {
                    content += `<tr>
            <td>${books[i].id}</td>
            <td>${books[i].name}</td>
            <td>${books[i].author}</td>
            <td>${books[i].price}</td>
            <td>${books[i].category}</td>
            <td>
               <a href="${books[i].id}" onclick="deleteBook(this)" class="deleteBook">Delete</a>
</td>
        </tr>`;
                }
                document.getElementById("listBook").innerHTML = content;
            }
        });
    }
    function deleteBook(element){
        let IdBook = element.getAttribute("href");
        $.ajax({
            type:"DELETE",
            url:`/books/${IdBook}`,

            success: showListBook
        })
        event.preventDefault();
    }
</script>
</body>
</html>
